/*  NOTES
- fonts:
    - Didot - Regular (headings)
    - Baskerville - Regular (small text)
    - Proxima Nova - Medium
- Colors:
    - #BE4D06
    - #C37746
    - #D5AE81
    - #F1BF5B
    - #624735
    - #EFEBE4
    - #486A7C
    - #8AA0A1
    - #C0C1AC
    - #CCA35F
    - #C37746
    - #C06705

- Map: [https://snazzymaps.com/style/115413/light-and-beige](https://snazzymaps.com/style/115413/light-and-beige)

- changing the fonts
- changing the background images
- typography changes
    - general styles
    - featured text (changing the color of the text)
    - font-size
- button styles
- image styles (rounded edges, etc)

*/



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[class*=grid]{
    margin:0;
}

/*  Temporary Styles */

/* * {
    padding: 0.5rem;
    border: 2px solid rgb(200,200,200);
} 

html, 
body {
    border: none;
}

h1,h2,h3,h4,h5,h6,p, a {
    border: 2px solid rgb(179, 84, 84);
} */


/* Re-usable Utiity Classes  */
img{max-width: 100%;}
html{scroll-behavior: smooth;}

.tall-10    {min-height: 10vh;}
.tall-30    {min-height: 30vh;}
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }


.padded    { padding: 5%;    }
.padded-1,
.grid.padded-1  { padding: 1rem;  }
.padded-2,
.grid.padded-2  { padding: 2rem;  }


.margin-b-0 { margin-bottom: 0; }

.bg-light   {background-color:#F8F6F4;}
.bg-featured { background-color: #018ca2;  }
.bg-dark     { background-color: #24282B;  }

.text-featured  {color: #BE4D06;}
.light-text     {color: white; } 


.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }


/* General typography & universal styles  */
body{
    font-family: 'Libre Baskerville', serif;
    color: rgb(60, 60, 60);
}
h1, h2, h3, h4, h5, h6{
    font-family: 'didot', serif;
    line-height: 1.1;
    margin-bottom: 1rem;
    font-weight: normal;
}

h1{font-size: 3.5rem;}
h2{font-size: 2.2rem;}
h3{font-size: 1.8rem;}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child{
    margin-bottom: 0;
}

p{
    line-height: 1.4;
    margin-bottom: 1.1rem;
}

.text-medium{font-size:2.5rem;}
.text-large{font-size: 3.5rem;}
.text-xl{font-size: 4rem;}
.text-xxl{font-size: 8.5rem;}

ul{
    margin-left: 1rem;
}
li{
    padding-left: 0.5rem;
}
.text-lato{font-family: lato;}

a{
    color: inherit;
    text-decoration: none;

}
a:hover{
    color: #EFEBE4;
    text-decoration: underline;
}

.button{
    color: inherit;
    border: 1px solid;
    color:#BE4D06;
    border-radius: 2rem;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    margin-top: 1rem;
}
.button:hover{
    /* text-transform: uppercase; */
    background-color:#BE4D06;
    color: white;

}

/* .top-header{
    overscroll-behavior: contain;
} */


/* Header & Footer */
footer{
    padding-bottom: 0.5rem;
    color: rgb(120, 120, 120);
}

/* video */

/* #headerContent {
    width: 100%;
    height: 80%;
    overflow: hidden;
}
video {
    position: inherit;
    min-width: 100%;
    overflow: hidden;
    z-index: -1;
} */
video{
    max-width: 100%;
    height: auto;

}

/* Images & Background Images */
.bg-image{
    background-size: cover;
    background-position: center;
    background-color: #EFEBE4;
}
.bg-headshot-1    {background-image: url('/images/leaves-light.png');}
.bg-golden-3    {background-image: url('/images/golden-hour-3.jpg');}
.bg-golden-4    {background-image: url('/images/golden-hour-4.jpg');}
.bg-headshot-1{background-image: url('/images/headshot-1.png');}
.bg-resource-1{background-image: url('/images/resource-1.jpg');}
.bg-resource-2{background-image: url('/images/resource-2.jpg');}
.bg-resource-3{background-image: url('/images/resource-3.jpg');}

.logo   {background-image: url('/images/logos/TGH-logo1.png');}
.bg-featured{
    background-color: #C37746;
}
.bg-featured-2{background-color: #C0C1AC;}
.bg-blue{background-color: #8AA0A1;}

.shape-teardrop{
    border-radius: 20rem;
    border-bottom-right-radius: 0;
    border: none;
}
.shape-window{
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;
}


/* hover overlay free resources section stylizing */
.hover-container {
    background-size: cover;
    background-position: center;
  }
  
  .hover-overlay {
    position: relative;
    padding-bottom: 100%;
    color: rgba(255, 255, 255, 0);
    position: relative;
    /* you only need to use relative + absolute if you want to determine the exact aspect ratio of the container */
    transition: all 0.3s;
  }
  
  .hover-overlay:hover {
    background-color: rgba(60, 60, 60, 0.7);
    color: white;
  }
  
  .hover-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .hover-inner p {
    margin-bottom: 0;
  }

/* get in touch section */
  input, textarea {
    border-style: solid;
    border: 2px solid rgb(200, 200, 205);
    padding: 0.8em;
    display: block;
    width: 100%;
    font-size: 1rem;
;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border: 2px solid #e67e22;
    /* featured color */
  }
  
  textarea {
    min-height: 7em;
  }
  
  input[type="submit"] {
    width: auto;
    display: block;
  }
  
  form [class*=col-] {
    padding: 5px;
  }
  
  .email-signup input {
    width: 30%;
    display: inline-block;
    max-width: 250px;
    margin-top:1rem;
  }
  
  .email-signup .button-solid {
    padding: 0.8em;
    border-radius: 0;
    font-size: 1rem;
  }
  form .button {
    width:100%;
  }
    @media(max-width:768px) {
     .email-signup input {
       width: 100%;
       max-width: 100%;
     }
   }

   

/* 

Gridlex Media Queries

@media (max-width: 36em)	Max 576px	_xs-*
@media (max-width: 48em)	Max 768px	_sm-*
@media (max-width: 64em)	Max 1024px	_md-*
@media (max-width: 80em)	Max 1280px	_lg-*

*/

@media (max-width: 64em) {
    h2, h4, p, ul{text-align: center;}
}


@media (max-width: 48em) {
    .text-xl{font-size: 3.5rem;}
    .text-xxl{font-size: 6.5rem;}
    .sm-block{display:block;}
    .sm-center{text-align: center;}
    .bg-image-leaves-v{background-image: url('/images/leaves-light.png');}
}

@media (max-width: 36em) {
    .text-xxl{font-size: 4.5rem;}
}

@media (max-width: 22em) {
    .text-xxl{font-size: 2.5rem;}
}