/* Comments for Reference */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* temporary styles - delete when ready */

section     {border: 1px solid;}
div         {border: 1px solid;}
h1, h2, h3, h4, h5, h6 {border: 1px solid;}
a           {border: 1px solid;}

/* end temporary styles */

/* Utility Classes */
.padded-sm{padding: 2.5%;}
.padded-md{padding: 5%;}
.padded-lg{padding:10%;}

.padded-05{padding: 0.5rem;}
.padded-1{padding:1rem;}
.padded-2{padding:2rem;}

.padded-t{padding-top:5%;}
.padded-b{padding-bottom: 5%;}
.padded-l{padding-left:5%;}
.padded-r{padding-right: 5%}

.padded-tb{padding-top: 5%; padding-bottom:5%}
.padded-lr{padding-left: 5%; padding-right:5%}



.margin-sm{margin: 2.5%;}
.margin-md{margin: 5%;}
.margin-lg{margin:10%;}

.padded-05{padding: 0.5rem;}
.padded-1{padding:1rem;}
.padded-2{padding:2rem;}

.padded-t{padding-top:5%;}
.padded-b{padding-bottom: 5%;}
.padded-l{padding-left:5%;}
.padded-r{padding-right: 5%}

.padded-tb{padding-top: 5%; padding-bottom:5%}
.padded-lr{padding-left: 5%; padding-right:5%}

.tall-40{min-height: 40vh;}
.tall-50{min-height: 50vh;}
.tall-60{min-height: 60vh;}
.tall-70{min-height: 70vh;}
.tall-80{min-height: 80vh;}
.tall-90{min-height: 90vh;}

.right{text-align: right;}
.center{text-align: center;}
.left{text-align: left;}

/* images */
.bg-image{
    background-size: cover;
    background-position: center;
    background-color:rgb(230, 228, 222);
    background-repeat: no-repeat;
}
.golden-hour-1{
    background-image: url('/images/golden-hour-1.jpg');
}
.logo{
    background-image: url('/images/logos/TGH-logo1.png');
}







/* 

Gridlex Media Queries

@media (max-width: 36em)    Max 576px   _xs-*
@media (max-width: 48em)    Max 768px   _sm-*
@media (max-width: 64em)    Max 1024px  _md-*
@media (max-width: 80em)    Max 1280px  _lg-*

*/
/* 
@media (max-width: 64em) {
    h2, h4, p, ul{text-align: center;}
}


@media (max-width: 48em) {
    .text-xl{font-size: 3.5rem;}
    .text-xxl{font-size: 6.5rem;}
    .sm-block{display:block;}
    .sm-center{text-align: center;}
    .bg-image-leaves-v{background-image: url('/images/leaves-light.png');}
}

@media (max-width: 36em) {
    .text-xxl{font-size: 4.5rem;}
}

@media (max-width: 22em) {
    .text-xxl{font-size: 2.5rem;}
} */
